<!DOCTYPE html>
<html>
<head>
	<title>Diario</title>
	<link rel="stylesheet" href="/stylesheets/style.css" />

 
</head>
<body>

    <header id = "header"> 
        <nav id = "nav">
          <ul>
            {{#if user}}
              <li class="navitem greeting" style="text-align:left;"><a href="/">Welcome {{username}}!</a></li>
              <li class="navitem"><a href="/">Dashboard</a></li>
              <li class="navitem"><a href="/users/logout">Logout</a></li>
              <li class="navitem"><a href="/create">Create</a></li> 
            {{else}}

     		      <li class="navitem"><a href="/home">Home</a></li>
              <li class="navitem"><a href="/users/login">Login</a></li>
              <li class="navitem"><a href="/users/register">Register</a></li>
            {{/if}}
          </ul>
        </nav>
       </header> 



      
      <!-- </div> -->
      <!-- alert messages and such... -->


      <div class="messages">
          {{#if success_msg}}
            <div class="alert">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert">{{error}}</div>
          {{/if}}
          
          {{{body}}}
        </div>
     </div>

       


<div class = "wrapper foot">
</div> 
<footer id="footer">
</br>
	<ul> 
		<li>&copy; Created by Leslie.</li>
		<li>|</li>
		<li><a href="/contact">Contact Us</a></li>
	</ul> 

</footer> 

</body>
</html>
